name: Compilation and static checks NR

on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - nr/**
      - benches/**
      - .github/**
  pull_request_target:
    paths:
      - nr/**
      - benches/**
      - .github/**

jobs:
  build:
    name: Build and check
    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libhwloc-dev gnuplot libfuse-dev liburcu-dev liburcu6
    - uses: actions/checkout@v2.3.4
    - name: Install rust toolchain
      run: rustup show
    - name: Run clippy
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --manifest-path nr/Cargo.toml
        name: nr clippy
    - name: Check formatting
      run: cargo fmt -- --check
      working-directory: ./nr
    - name: Check formatting (benches)
      run: cargo fmt -- --check
      working-directory: ./benches
    - name: Build NR
      run: cargo build --release --verbose
      working-directory: ./nr
    - name: Build NR (unstable)
      run: cargo build --release --verbose --features unstable
      working-directory: ./nr
    - name: Compile tests
      run: cargo test --release --no-run --verbose
      working-directory: ./nr
    - name: Compile benchmarks
      run: |
        cargo bench --bench log --features="nr" --no-run --verbose
        cargo bench --bench synthetic --features="nr" --no-run --verbose
        cargo bench --bench stack --features="nr" --no-run --verbose
        cargo bench --bench hashmap --features="nr" --no-run --verbose
        cargo bench --bench vspace --features="nr" --no-run --verbose
      working-directory: ./benches
    - name: Execute unit-tests
      run: cargo test
      working-directory: ./nr
    - name: Try the stack example
      run: RUST_BACKTRACE=1 RUST_LOG='trace' cargo run --release --example stack -- -t1,2 --nop 100000 -l 1 -m sequential
      working-directory: ./nr
